/* general rules */

.mp-section{
    padding: 50px 0;
}

.mp-no-margin-bottom{
    margin-bottom: 0;
}

[class *= 'col-']{
    background-color: antiquewhite;
    border: 1px solid black;
    min-height: 50px;
    /* da togliere */
}

[class *= 'container']{
    background-color: lightsalmon;
}

.mp-big{
    min-height: 400px;
}

.mp-green{
    min-height: 400px;
    background-color: #1abc9c;
    width: 100%;
}

.mp-navy{
    background-color: #3a546d;
    color: white;
}

.mp-button-1{
    border: 1px solid white;
    margin: 20px;
    background: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.mp-button-2{
    margin: 20px;
    background-color: #1abc9c;
    border-radius: 5px;
    padding: 5px 10px;
}

/* specific rules */

.mp-header, .mp-footer{
    background-color: #2c3e50;
    height: 80px; 
    color: white;
    /*  da togliere */
}

.mp-nav{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.mp-jumbotron{
    margin-top: 80px;
}

.mp-port-item{
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
}

.mp-port-item img{
    width: 100%;
}

.mp-footer{}

.mp-image{
   width: 300px ;
}

.mp-custom-border{
    background: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid lightgray;
}

.mp-custom-border::placeholder{
    color: black;
}

.mp-title, .mp-subtitle, .mp-separator{
    text-align: center;
}

.mp-separator{
    vertical-align: middle;
}

.mp-subtitle{}

.mp-par{
    height: 150px
}




