/* general rules */

.mp-section{
    padding: 50px 0;
}

h2,h3{
    font-weight: 600;
    text-transform: uppercase;
}


.mp-big{
    min-height: 400px;
}

.mp-green{
    min-height: 400px;
    background-color: #1abc9c;
    width: 100%;
}

.mp-navy{
    background-color: #3a546d;
    color: white;
}

.mp-text-green{
    color: #1abc9c;
}

.mp-button-1{
    border: 1px solid white;
    margin: 20px;
    background: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.mp-button-1:hover{
    background-color: white;
    border: 0;
    color: #2c3e50;
}

.mp-button-2{
    margin: 20px;
    background-color: #1abc9c;
    border-radius: 5px;
    padding: 5px 10px;
}

.mp-satanic-row, .mp-satanic-row-blue{
    position: relative;
    width: 25%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}

.mp-satanic-row-blue{
    color: #2c3e50;
}

.mp-satanic-line, .mp-satanic-line-blue{
    height: 3px;
    width: 40%;
    border-radius: 3px;
    background-color:white;
    display: inline-block;
}

.mp-satanic-line-blue{
    background-color: #2c3e50;
}

/* specific rules */


/* HEADER */
.mp-header, .mp-footer{
    background-color: #2c3e50;
    height: 80px; 
    color: white;
    /*  da togliere */
}

.mp-nav{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* JUMBOTRON */
.mp-jumbotron{
    margin-top: 80px;
}

.mp-image{
    width: 300px;
    margin: auto;
 }
 
/* PORTFOLIO */
.mp-port-item{
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}

.mp-port-item img{
    width: 100%;
}

.mp-port-hover{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1abc9c;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    display: none;
}

.mp-port-item:hover .mp-port-hover{
    display: flex ;
}

.mp-port-hover i{
    font-size: 70px;
    color: white;
}


/* CONTACT ME */

.mp-custom-border{
    background: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid lightgray;
}

.mp-custom-border::placeholder{
    color: black;
}

/*  INFO */

.mp-text-box{
    width: 90%;
    margin: auto ;
    padding: 20px 0;
}

.mp-round{
    border:1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

/* FOOTER */

.mp-footer{
    line-height: 80px;
    text-align: center;
}




